#start {
    background: #0b0b0b;
}

#settings {
    background: #0b0b0b;
}

h1 {
    color: #fff;
    line-height: 30px;
}

.border {
    border-top: 1px solid #ed1616;
}

.ui-grid-a div:nth-child(1) {
    border-right: 1px solid #ed1616;
}

.time {
    font-size: 135px;
    line-height: 250px;
    text-align: center;
    color: #fff;
}

.full-width {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    background: #000;
    color: #fff;
}

.lh50 {
    line-height: 50px;
}

.set, .break {
    text-align: center;
}

.set {
    font-size: 30px;
    color: #3ed03e;
}

.break {
    font-size: 20px;
    color: #ed1616;
}
